<h1>{{course.course_name}}</h1>


  <ul>
    <li>{{course.city}}</li>
<a href="/users/{{user.id}}/courses/{{course.id}}/edit" class="btn btn-default">Edit Course</a>
<br>
<a href="/users/{{user.id}}/courses" class="btn btn-default">My Courses</a>
<br>
<a href="/users" class="btn btn-default">Clubhouse</a>
  </ul>
