{{#if currentUser}}
  <h4><strong>Welcome {{currentUser.email}}</strong></h4>
  <a href="/users/{{currentUser._id}}">My Profile</a>
  <br>
  <a href="/users/{{currentUser._id}}/courses/new" class="btn btn-default">Add a New Course</a>
{{/if}}

<!-- {{#each users}}
  <ul> -->
<!--     <li>{{id}}</li> -->
   <!--  <li>{{email}}</li> -->
<!--     <li>{{password_digest}}</li> -->
  <!--   {{/each}}
  </ul> -->

