<!-- <h1>{{user.email}}'s Profile</h1>
<ul>
  <li>email: {{user.email}}</li>
  <li>created_at: {{user.created_at}}</li>
</ul> -->
<h1>My Profile</h1>
<h3>{{user.email}}</h3>

<a href="/users" class="btn btn-default">Main Page</a>
<!-- <a href="/users/{{user.id}}/edit" class="btn btn-danger">Edit Profile</a> -->
<form method="post" action="/sessions/remove_?method=DELETE">
<input type="submit" value="LOG OUT"/>
</form>
<a href="/users/{{user.id}}/courses">My Courses</a>
